# error pages
ErrorDocument 404 /404

options +FollowSymLinks
RewriteEngine On

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}.php -f

RewriteRule ^(.*)$ $1.php